main {
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
}

.container__section--first {
    display: flex;
}

.container__post {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
}

.post {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    margin-bottom: 1.25rem;
}

.post__image {
    height: 3.125rem;
}

.post__name {
    padding-bottom: 5px
}

.post__profision {
    color: var(--grey2);
}

.container__suggestions {
    width: 35%;
}

.suggestions {
    padding-top: 20px;
    width: 90%;
}

.suggestions__post {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    justify-content: space-between;
}

.container__section--second {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
}

article {
    width: 100%;
}

.title__post {
    margin-top: 20px;
    align-self: flex-start;
    margin-bottom: 1.25rem;
}

.post__content {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.posts__incons {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    margin: 2.1875rem 0rem 2.1875rem 0rem;
}


