main {
    width: 90%;
    margin-top: 30px;
    margin-left: 80px;
}
.header {
    background-color: var(--grey1);

}

.section01 {
    width: 50%;
}

.section02 {
    width: 50%;
}

#div-name{
padding-bottom: 5px

}

#color-profision {
    color: var(--grey2);
}

.first-section {
    display: flex;
    align-items: center;
}

.div-post {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

.image {
    height: 3.125rem;
}

.classUl {
   padding-top: 20px;
}


.form01 {
    padding-right: 40px;
}

.text2--bold{
    font-size: 600;

}